
.list-group-item.active{
    background-color: green;
    border-color: green;
    
}
.list-group-item{
    font-size: 15px;
}
.discount-label{
    font-size: 10px;
    font-style: italic;   
    text-decoration: line-through;
}
.price{
  font-weight: bolder;
  color:var(--green);
  font-size: 25px;
}
.card-footer{
    background-color: white;
}
.btn{
 
  background:var(--green);
  color:#fff;
  font-size: 15px;
  cursor: pointer;
  display: block;
 
}

.btn:hover{
  background:#333;
}
.discount{
  position: absolute;
  top:1rem; left:1rem;
  background:rgba(0,255,0,.1);
  color:var(--green);
  font-size: 15px;
  padding:.5rem 1rem;
}


.quantity span{
  font-size: 20px;
}
.quantity input{
  font-size: 15px;
  padding:5px;
  text-align: center;
  background:rgba(0,0,0,.1);
  border: 0px solid;
  outline: none;
}

.active a{
    color: green !important;
}
/*
.card-columns .card  .icons{
  position: absolute;
  top:10px; right:-8rem;
  display: flex;
  flex-flow: column;
  background:#fff;
  border-radius: 5rem;
  padding:.5rem;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}

.card:hover .icons{
  right:1rem;
}

.icons a{
  height: 2rem;
  width:2rem;
  line-height: 2rem;
  font-size: 1rem;
  color:#333;
  border-radius: 2.5rem;
  margin:.1rem;
 text-decoration: none !important;
}
.icons a:hover{
  color:#fff;
  background:var(--green);
}*/
